.form {
    display: inline-block
}

.btn {
    display: inline-block
}

.button-submit {
    background-color: #9FC3CC;
    color: #3C3C3C;
    border: none;
    /* border-radius: 2px; */
    padding: 10px 15px;
    font-size: 15px;
}

.button-submit:hover {
    background-color: #8fafb8;
}